.fridge-main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 10px;
  border-radius: 3%;
  border: 1px solid grey;

  .fridge-index-main-container {
    flex: 3 0;
    
    .fridge-index {
      padding-left: 0;
      // border: 1px solid gray;
      height: 90%;
      width: 85%;

      margin: auto;
      margin-top: 20px;
      overflow: scroll;
      

      .fridge-index-item {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        background-color: rgba(196, 233, 247, 0.56);
        margin: 1px;
        text-align: center;
        height: 10%;
        border-radius: 2px;
        position: relative;

          .remove-item-button {
            position: absolute;
            left: 90%;
            display: none;
          }
      }


      .fridge-index-item:hover {
        background-color: rgba(171, 223, 241, 0.56);
        cursor: pointer;
          .remove-item-button {
            display: block;
          }
      }

      #selected {
        background-color: rgba(144, 189, 204, 0.63);
      }

    }

  }
  
  .fridge-add-items {
    flex: 1 0;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    #fridge-bottom-handle {
      width: 50px;
    }

    .fridge-add-items-input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // margin: auto;
      padding-top: 10px;
      width: 85%;

      .add-item-input {
        // border-radius: 2px;
        height: 30px;
      }

      button {
        height: 30px;
        background-color: rgba(102, 180, 209, 0.8);
        border: 0 transparent;
        cursor: pointer;
        border-radius: 2px;
      }

      button:hover {
        background-color: rgba(108, 200, 233, 0.8);
      }

    }
  }
}