.fridge-main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 10px;

  .fridge-index-main-container {
    flex: 4 0;
    background-color: green;
  }
  
  .fridge-add-items {
    flex: 1 0;
    background-color: blueviolet;
  }
}