.fridge-main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 10px;
  border-radius: 4%;
  // border: 2px solid #c1c1c1;
  -webkit-box-shadow: 1px 1px 1px 2px rgb(224, 221, 221);
  background-color: white;

  .fridge-index-main-container {
    flex: 2.7 0;
    display: flex;
    border-top: 1px solid rgb(224, 221, 221);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .get-recipe-results-button {
      width: 85%;
      margin-bottom: 25px;
      color: #FFFFFF;
      left: 41.5%;
      height: 35px;
      background-color: #91c11e;
      border: none;
      display: block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      letter-spacing: 0.09em;
      font-weight: bold;
      line-height: 35px;
    }

    .get-recipe-results-button:hover {
      background-color: #a0d623;
      -webkit-transition: background-color 0.3s ease-out;
    }

    .fridge-index {
      padding-left: 0;
      // border: 1px solid gray;
      height: 80%;
      width: 85%;

      margin: auto;
      margin-top: 20px;
      overflow: scroll;

      .fridge-index-item {
        color: #64686f;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        background-color: rgba(196, 233, 247, 0.56);
        margin: 1px;
        text-align: center;
        height: 10%;
        border-radius: 2px;
        position: relative;

          .remove-item-button img {
            position: absolute;
            right: 5%;
            bottom: 20%;
            display: none;
            width: 6%;
          }
      }


      .fridge-index-item:hover {
        background-color: rgba(154, 207, 224, 0.589);
        cursor: pointer;
        -webkit-transition: background-color 0.2s;
          .remove-item-button img{
            display: block;
          }
      }

      #selected {
        background-color: rgba(144, 189, 204, 0.63);
      }

    }

  }
  
  .fridge-add-items {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;

    .fridge-add-items-input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
      padding-top: 10px;
      width: 85%;



      .add-item-input {
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #aaa5a5cc;
        height: 30px;
        width: 90%;
      }

      ::placeholder {
        color: #c3c1c1ab;
      }

      input {
        padding-left: 10px;
      }

      button {
        width: 95%;
        height: 30px;
        margin-top: 5px;
        background-color: rgba(102, 180, 209, 0.8);

        border: 0 transparent;
        cursor: pointer;
        border-radius: 5px;
        color: #FFFFFF;
        left: 41.5%;
        height: 35px;
        display: block;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.09em;
        font-weight: bold;
        line-height: 35px;
      }

      button:hover {
        background-color: rgba(108, 200, 233, 0.8);
        -webkit-transition: background-color 0.2s;
      }

    }
  }
}