* {
  font-family: 'Raleway', sans-serif;
  color: #303236;
}

button:focus {outline: 0;}
input:focus {outline: 0;}

a, a:hover, a.visited {
  text-decoration: none;
}

//--------------------------------------------------------------------------
//wraps entire in-app routes (includes: topnav, main component and footer)
//--------------------------------------------------------------------------

.in-app-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: #FAFBFC;
  height: 100vh;
}



//---------------------------------------------------------------------------
//wraps entire fridge, recipes components
//---------------------------------------------------------------------------

.main-in-app-component {
  align-self: center;
  display: flex;
  margin: auto;
  width: 80%;
  height: 80%;

  //this includes: #saved-recipes, #recipe-results
  .recipes-main-container {
    width: 1200px;
    border-radius: 2%;
    // border: 2px solid #c1c1c1;
    background-color: #F8F8F8;
  }
}

