* {
  font-family: 'Raleway', sans-serif;
  color: #303236;
}

button:focus {outline: 0;}
input:focus {outline: 0;}

a, a:hover, a.visited {
  text-decoration: none;
}

//--------------------------------------------------------------------------
//wraps entire in-app routes (includes: topnav, main component and footer)
//--------------------------------------------------------------------------

.in-app-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: #FAFBFC;
  height: 100vh;
  overflow: visible;
}



//---------------------------------------------------------------------------
//wraps entire fridge, recipes components
//---------------------------------------------------------------------------

.main-in-app-component {
  align-self: center;
  display: flex;
  margin: auto;
  width: 80%;
  height: 80%;

  //this includes: #saved-recipes, #recipe-results
  .recipes-main-container {
    width: 1200px;
    border-radius: 2%;
    // border: 2px solid #c1c1c1;
    background-color: #F8F8F8;
  }
}


//---------------------------------------------------------------------------
//top notification on save/remove click
//---------------------------------------------------------------------------


#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(108, 200, 233, 0.8);
    text-align: center;
    line-height: 2.1;
    overflow: hidden; 
    box-shadow: 0 0 5px rgb(104, 102, 102);
    display: none;
    color: #303236;
    font-size: 14px;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}




