.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(236, 230, 230);
  background-color: #FFFFFF;
}

.navbar button {
  height: 20px;
}

.logged-out-links {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

.logged-in-links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


