.recipes-main-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;


    strong {
      font-weight: bold;
    }
    
    .recipe-result-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
      width: 250px;
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 10px;
      background-color: #FAFBFC;
      -webkit-box-shadow: 1px 1px 1px #ccc;
      position: relative;

      .image-display-container {
        height: 220px;
        width: 220px;
        perspective: 600;
        position: relative;
      }

      .recipe-image {
        width: 100%;
        height: 100%;
      }

      .image-display {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
      }
      .image-display:hover {
        transform: rotateY(-180deg);
      }
      .image-display .side {
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .image-display .back {
        transform: rotateY(180deg);
        border: 1px solid #91c11e;
      }
      


      .recipe-result-link {
        font-size: 15px;
        color: #303236;
        padding: 10px;
        text-align: center;
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .recipe-result-link:hover {
        cursor: pointer;
        color: #91c11e;
      }

      .sub-info {
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .recipe-source {
          font-size: 12px;
          width: 130px;
        }
  
        button {
          font-size: 11px;
          width: 80px;
          height: 22px;
          background-color: #fc9608;
          border: 0 transparent;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: #f7a534;
        }
      }
    }

}

.placeholder {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    ol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        font-size: 25px;
        margin: 7px;
      }

      #digifridge {
        font-weight: bold;
        color: rgba(102, 180, 209, 0.8);
      }

      #recipes {
        font-weight: bold;
        color: #fc9608;
      }
    }
}

.saves {
  h1 {
    width: 500px;
    text-align: center;
  }
}