.splash-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  justify-content: space-between;
  width: 100%;

  .video-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;


    video {
      width:100%;
      height: 100%;
      object-fit: fill;
    }
  
    .hero-text {
      text-align: center;
      max-width: 650px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;

      .splash-title {
        color: #FFFFFF;
        font-size: 4.5vw;
        text-shadow: 1px 1px 3px black;
      }

      .get-started-button {
        color: #FFFFFF;
        width: 15vw;
        height: 4vw;
        background-color: #91c11e;
        border: none;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
        letter-spacing: 0.09em;
        font-weight: bold;
        line-height: 4vw;
        font-size: 1.1vw;
      }

      .get-started-button:hover {
        background-color: #659a41;
      }
    }
  }
  
  
  

.main-description {
  // position: absolute;
  width: 100vw;
  // top: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  .heading {
    font-size: 40px;
    // font-weight: bold;
  }

  .summary-perks {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    .perk {
      width: 300px;
      margin-top: 5px;
      margin-left: 50px;
      margin-right: 50px;
      text-align: center;

      strong {
        font-weight: bold;

      }

      img {
        width: 130px;
        margin-bottom: 7px;
      }
    }
  }
}



}


